<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="project.spring.TW.mapper.MovieMapper">

<select id="movieTime" resultType="int">
	SELECT COUNT(*) FROM MOVIE_INFO
</select>

<select id="movieAmount" resultType="int">
	SELECT COUNT(m.movie_name) cnt
	FROM (SELECT movie_name, count(movie_name) 
		FROM MOVIE_INFO 
		GROUP BY movie_name) AS m
</select>

<select id="movieNames" resultType="String">
	SELECT movie_name
	FROM MOVIE_INFO
	GROUP BY movie_name
</select>

<select id="movieHallCount" resultType="int">
	SELECT count(a.movie_start_time) cnt 
	FROM (SELECT movie_start_time, movie_name from movie_info where movie_name = #{movieName} GROUP BY hall_number) a;
</select>

<select id="hallNumber" resultType="String">
	SELECT hall_number
	FROM MOVIE_INFO
	WHERE movie_name = #{movieName}
	GROUP BY hall_number
</select>

<select id="movieStartTimes" resultType="String">
	
	SELECT movie_start_time
	FROM MOVIE_INFO
	WHERE movie_name = #{movieName}
		  and hall_number = #{hallNumber}
	
	
	<choose>
		<when test="today == true">
			<![CDATA[
				and movie_start_time > #{nowTime}
			]]>
		</when>
	</choose>
</select>

<select id="movieEndTimes" resultType="String">
	
	SELECT movie_end_time
	FROM MOVIE_INFO
	WHERE movie_name = #{movieName}
		  and hall_number = #{hallNumber}
	
	
	<choose>
		<when test="today == true">
			<![CDATA[
				and movie_start_time > #{nowTime}
			]]>
		</when>
	</choose>
</select>

<select id="hallSize" resultType="int">
	SELECT hall_size
	FROM THEATER_INFO
	WHERE hall_number = #{hallNumber}
</select>

<select id="movieEndTime" resultType="String">
	SELECT movie_end_time
	FROM MOVIE_INFO
	WHERE movie_name = #{movieName}
		  and hall_number = #{hallNumber}
		  and movie_start_time = #{movieStartTime}
</select>

<insert id="reservation">
	INSERT INTO MOVIE_RESERVATION
	(userId, movie_name, movie_start_time, movie_end_time, hall_number, seat_number)
	VALUES
	("${userId}", "${movieName}", "${movieStartTime}", "${movieEndTime}", "${hallNumber}", "${seatNumber}")
</insert>


</mapper>